bin
*.exe
intribox
devtool/devtool
devtool/devtool.exe

node_modules/
dist/
*.log

.vscode
.idea
debug

# intribox specific files
data/
intribox_config.ini

#localstack for testing s3
.localstack/

# MacOS bs
.DS_STORE
