.albums-row {
    margin: auto;
    width: 80%;
    display: flex;
    overflow-x: auto;
    margin-bottom: 2em;
}

.album-block {
    border-radius: 0.1em;
    background-color: gray;
    display: inline-block;
    vertical-align: center;
    width: 10%;
    margin-left: 0.2em;
}

.album-block > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}